<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p>My name is Pinak Das. I am software developer and I love to learn new web technologies. This project is built to simply practice Node.js as server side language.</p>
    </div>
    
    {{>footer}}
</body>

</html>